*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,Arial;

}


body{

background:#f4f4f4;
color:#111;

}


nav{

height:80px;
background:white;

display:flex;
align-items:center;
justify-content:space-between;

padding:0 10%;

border-bottom:1px solid #ddd;

}



nav a{

text-decoration:none;
color:#333;

margin-left:25px;

}



.home{

height:80vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:20px;

}



.home h1{

font-size:55px;

}



.home p{

max-width:700px;

font-size:20px;

margin:20px;

color:#555;

}



main{

max-width:900px;

margin:auto;

padding:50px 20px;

}



.card{

background:white;

padding:40px;

border-radius:15px;

margin-bottom:30px;

box-shadow:0 5px 20px #ddd;

}



.card p{

font-size:18px;

line-height:1.8;

color:#555;

margin:15px 0;

}



pre{

background:#111;

color:white;

padding:20px;

border-radius:10px;

}



img{

width:150px;

margin-top:20px;

}



footer{

text-align:center;

padding:30px;

color:#777;

}
