*{
box-sizing:border-box;
font-family:Arial;
}


body{

margin:0;

background:#070812;

color:white;

height:100vh;

}



.layout{

display:flex;

height:100vh;

}



.sidebar{

width:260px;

background:#0c0d18;

border-right:1px solid #222;

padding:35px;

}



.title{

font-size:28px;

font-weight:bold;

color:#756cff;

margin-bottom:50px;

}



.menu{

padding:18px;

margin-bottom:15px;

border-radius:15px;

color:#888;

cursor:pointer;

transition:.3s;

}



.menu:hover,
.active{

background:#29205c;

color:white;

}





.content{

flex:1;

padding:50px;

}



.page{

display:none;

animation:show .3s;

}



.show{

display:block;

}



@keyframes show{

from{

opacity:0;

transform:translateY(20px);

}


to{

opacity:1;

}

}




h1{

font-size:35px;

color:#8b82ff;

}



.box{

background:#111321;

border:1px solid #292b40;

border-radius:25px;

padding:30px;

max-width:800px;

}


p{

font-size:18px;

color:#aaa;

line-height:1.8;

}


a{

color:#7c6cff;

}
